.categories{
  margin-left: 2px;
  margin-right: 2px;
  margin-bottom: 16px;
  overflow: hidden;
  height: auto;
}

.category-title{
  margin: 0px;
  padding-left: 8px;
}

.category{
  width: 172px;
  margin-left: 8px;
  margin-right: 8px;
  float: left;
}

.category a{
  color: #000000;
  text-decoration: none;
}
