.categories{
  margin-left: 2px;
  margin-right: 2px;
  margin-bottom: 16px;
  overflow: hidden;
  height: auto;
}

.category-title{
  margin: 0px;
  padding-left: 8px;
  height: 30px;
  border-bottom: 1px solid var(--color-border);
}

.category{
  width: 172px;
  margin-left: 8px;
  margin-right: 8px;
  float: left;
}

.category ul{
  margin-top: 12px;
}

.category a:hover {
  // When mouse is on the link
  color: var(--color-font-hover);
}
