.contents {
  width: 400px;
  margin: auto;
}

.contents p{
  margin: 0;
  padding-left: 8px;
  height: 25px;
  align-self: flex-end;
}

.contents a{
  padding-left: 8px;
  text-decoration: none;
  color: #000000;
}

.contents a:visited{
  // after visit
  color: #888888;
}

.contents a:hover {
  // When mouse is on the link
  color: #333333;
}

.contents ol{
  margin-top: 8px;
  padding-left: 24px;
}
