.post {
  width: 500px;
  margin: auto;
}

.post-title-img{
  padding-bottom: 12px;
  border-bottom: 1px solid black;
  margin-bottom: 12px;
}


.post-content h2{
  padding-left: 8px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.post-content h3{
  padding-left: 8px;
  margin-top: 32px;
  margin-bottom: 32px;
}

.post-content h4{
  padding-left: 8px;
  margin-top: 8px;
  margin-bottom: 28px;
}

.post-content h5{
  padding-left: 8px;
  margin-top: 8px;
  margin-bottom: 28px;
}

.post-content p{
  padding-bottom: 10px;
  padding-right: 8px;
  width: 484px;
  word-wrap: break-word; // p width 초과시 new line
  line-height: 2; // 줄 사이 간격
}

.post-content pre{
  padding-bottom: 10px;
  padding-right: 8px;
  padding-left: 8px;
  width: 484px;
  overflow: auto;
  white-space: pre-wrap; // p width 초과시 new line
  line-height: 2; // 줄 사이 간격
}

.post-content hr{
  margin: 0px;
  border: 0px;
  border-top: 1px solid black;
}

.post-content ul{
  margin: 0px;
  padding-bottom: 8px;
}

.post-content li{
  font-size: 16px;
}

.post-content a{
  font-size: 16px;
}

.post p{
  margin: 0px;
  padding-left: 8px;
}
