// code
.highlight{
  background:#222222;
  color:#aab1bf;
  margin: 0px;
  padding-left: 0px;
  padding-right: 8px;
  overflow: auto
}
.highlight pre{
  margin: 0px;
  padding-bottom: 0px;
  width: auto;
}
