.head{
  position: relative;
  border-bottom: 1px;
  z-index: 20;
}
.head-nav{
  clear:both;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
  max-width: 100%;
  display: flex;
}
.head-nav a{
  display: block;
  margin: 1rem;
  color: #000000;
  text-decoration: none;
  align-self: center;
}

.site-title{
  text-decoration: none;
}
.current {
  color: green;
}

.highlight{
background:#222222;
color:#aab1bf;
margin: 0px;
padding-left: 40px;
padding-right: 40px;
padding-top: 10px;
padding-bottom: 10px;
overflow: auto
}
