
// header

header {
  height: 190px;//120px;
  margin-bottom: 5px;
  border-bottom: 1px solid black;
}

.header-title{
  padding-top: 8px;
  text-align: center;
  height: auto;
}

// include navigation.html

nav{
  border-bottom: 1px solid black;
  padding-bottom: 8px;
}

.header-nav-categories{
  width: 400px;
}

.header-nav-categories div{
  float: left
}

.header-nav-categories a{
  align-self: center;
  margin: 1rem;
}
