
// header

.main-header {
  height: 159px;//120px;
  margin-bottom: 5px;
  border-bottom: 1px solid var(--color-border);
}

.header-title{
  padding-top: 8px;
  text-align: center;
  height: auto;
}
