.contents-list-wrapper {
  position:fixed;
  left:calc(50% + 350px);
  top:194px;
//  border-top: 1px solid black;
//  border-bottom: 1px solid black;
  border-right: 1px solid #AAAAAA;
  border-bottom: 1px solid #AAAAAA;
  overflow:hidden;
  width:250px;
//  background-color: #F4F3D7;
}

@media (max-width: 1050px){
  .contents-list-wrapper {
      display: none;
  }
}

.contents-list {
  margin: 16px;
//  border-top: 1px solid black;
//  border-bottom: 1px solid black;
  overflow:hidden;
  height:100%;
}

.contents-list a{
  font-size: 12px;
  display: block;
  overflow-x: hidden;
}

.contents-list a:hover{
  font-weight:bold;
}


/*
.contents-list {
  background-color: black;
  width:200px;
  height:300px;
  display:inline-block;
  position:fixed;
  right:100px;
  top:200px;
}
*/