.post-title{
  margin: 0px;
  padding-bottom: 12px;
  height: auto;
  border-bottom: 1px solid var(--color-border);
  margin-bottom: 12px;
}


.post-title h3{
  margin: 0px;
  padding-left: 8px;
  margin-bottom: 8px;
}


