.post-nav-prev{
  float: left;
  width: 235px;
}

.post-nav-contents{
  width:30px;
  display: inline;
  text-align: center;
}

.post-nav-next{
  float: right;
  width: 235px;
  text-align: right;
}

.post-nav p{
  margin: 0px;
  color: #FFFFFF;
}
