
$width-arrow: 8px;
$width-contents: 40px;
$width-container: calc(var(--width-content)/2 - 20px);
$width-near-title: 200px;

.post-nav{
  width: var(--width-content);
  border-top: 1px solid var(--color-border);
  padding-top: 4px;
  margin: auto;
}

.post-nav-prev{
  display: inline-block;
  float: left;
  width: $width-container;
  height: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.post-nav-contents{
  width:$width-contents;
  height: 24px;
  display: inline-block;
  text-align: center;
}

.post-nav-next{
  display: inline-block;
  float: right;
  width: $width-container;
  height: 24px;
  text-align: right;
}

.post-nav-next div{
  float: right;
}

.post-nav-title{
  display: inline-block;
  overflow: hidden;
  width: $width-near-title;
  height: 24px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.post-nav-arrow{
  display: inline-block;
  width: 8px;
  margin-left: 2px;
  margin-right: 2px;
  height: 24px;
  overflow: hidden;
  white-space: nowrap;
}
.post-nav p{
  margin: 0px;
  opacity: 0;
}
