---
layout: default
---

{%- case page.category -%}
{%- when "cs" -%}{%- assign categories = site.data.cs_categories -%}
{%- when "math" -%}{%- assign categories = site.data.math_categories -%}
{%- endcase -%}

<div>
{%- for category in categories -%}
  {%- capture var -%}{%- cycle "first", "second", "third" -%}{%- endcapture -%}
  {%- case var -%} {%- when "first" -%}</div><div class="categories"> {%- endcase -%}
  <div class="category">
    <h5 class="category-title">{{category.category}}</h5>
    <ul>
    {%- for subcategory in category.sub_categories -%}
      <li><a href="/cs/{{subcategory}}">{{subcategory}}</a></li>
    {%- endfor -%}
    </ul>
  </div>
{%- endfor -%}
</div>
