---
layout: default
---

{%- case page.category -%}
{%- when "cs" -%}{%- assign collection = site.cs -%}
{%- when "math" -%}{%- assign collection = site.math -%}
{%- endcase -%}

<section class="contents">
  <h3 class="post-title">{{page.title}}</h3>
      {%- assign contents = collection | where: "subcategory", page.subcategory | sort: "page" -%}
      {%- for content in contents -%}
          {%- if content.title != page.title and content.thumbnail -%}
            {%- assign pages = content.page | split: "."-%}
    {%- for p in pages offset:1 -%}&nbsp;&nbsp;&nbsp;&nbsp;{%- endfor -%}<a href={{content.url}} class="contents-content">{{content.page}}&nbsp;&nbsp;{{content.title}}</a><br>
          {%- endif -%}
      {%- endfor -%}
</section>
