// no dragging
/*
* {
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
*/

// General
:root {
  --width-main: 600px;
  --width-content: 500px;
}

// Light mode
:root{
  --width-margin: 16px;
  --color-background: #FFFFFF;
  --color-font: #000000;
  --color-font-hover: #444444;
}

// Dark mode




body{
  margin:0px;
}

.main-header{
  padding-top:4px;
}

//wrap
.wrap{
  width: var(--width-main);
  margin: auto;
}

.hidden{
  display: none;
}

.bold{
  font-weight: bold;
}

// content
.content{
  overflow:hidden;
  margin-left: var(--width-margin);
  margin-right: var(--width-margin);
  height: auto;
}

// a
a {
  color: var(--color-font);
  text-decoration: none;
}

a:hover{
  color: var(--color-font-hover);
}

p, pre, h1, h2, h3, h4, h5, h6 :not(.highlight pre){
  color: var(--color-font);
}



