// no dragging
/*
* {
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
*/

:root {
  --width-main: 600px;
  --width-content: 500px;
}

//warp
.warp{
  width: var(--width-main);
  margin: auto;
}

// content
.content{
  overflow:hidden;
  margin-left: 16px;
  margin-right: 16px;
  height: auto;
}

// a
a {
  color: #000000;
  text-decoration: none;
}

a:hover{
  color: #333333;
}

.about p{
  text-align: center;
}
