// no dragging
/*
* {
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
*/


// General
:root {
  --width-main: 600px;
  --width-content: 500px;
  --width-margin: 16px;
}

// Light mode
:root{
  --color-background: #FFFFFF;
  --color-font: #000000;
  --color-font-hover: #444444;
  --color-font-visitied: #888888;
  --color-border: black;
  --color-contents-list-border: #AAAAAA;
  --color-contents-list-background: #F4F3D7;
}

// Dark mode

body.dark{
  --color-background: #111111;
  --color-font: #DDDDDD;
  --color-font-hover: #444444;
  --color-font-visitied: #888888;
  --color-border: white;
  --color-contents-list-border: black;
  --color-contents-list-background: #222222;
  transition: var(--transition-darkmode);
}


body{
  margin:0px;
  background-color: var(--color-background);
  color: var(--color-font);
  transition: var(--transition-darkmode);
}

.main-header{
  padding-top:4px;
}

//wrap
.wrap{
  width: var(--width-main);
  margin: auto;
}

.hidden{
  display: none;
}

.bold{
  font-weight: bold;
}

// content
.content{
  overflow:hidden;
  margin-left: var(--width-margin);
  margin-right: var(--width-margin);
  height: auto;
}

// a
a {
  color: var(--color-font);
  text-decoration: none;
}

a:hover{
  color: var(--color-font-hover);
}

p, pre, h1, h2, h3, h4, h5, h6, li :not(.highlight pre){
  color: var(--color-font);
}



