a {font-size: 16px;}
h1 {font-size: 32px;} // main title
h2 {font-size: 28px;} // content title
h3 {font-size: 24px;} // category
h4 {font-size: 20px;} // subcategory
h5 {font-size: 16px;}
p {font-size: 16px;}
